* {
    box-sizing: border-box
}

.big-frame {
    width: 100%;
    height: 100%;
    position: absolute;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-duration: 15s;
    animation-timing-function: linear;
    transform-style: preserve-3d;
    animation-fill-mode: forwards;
    animation-name: anim-y;


}

.big-box {

    width: 200px;
    height: 200px;
    position: relative;
    margin: 0 auto;
    top: 35%;


}

.box {

    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #28aa70;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-duration: 15s;
    animation-timing-function: linear;
    margin: 0 auto;
    transform-style: preserve-3d;
    animation-fill-mode: forwards;
    animation-name: anim-min-z;
}

.box::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}


.box2 {

    background-color: #008cff;
    position: absolute;
    width: 100%;
    height: 100%;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-duration: 15s;
    animation-timing-function: linear;
    margin: 0 auto;
    transform-style: preserve-3d;
    animation-fill-mode: forwards;
    animation-name: anim-z;
}

.box2::before {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}


@keyframes anim-z {
    from {
        transform: rotateZ(0deg);


    }
    to {
        transform: rotateZ(360deg);

    }
}


@keyframes anim-min-z {

    from {
        transform: rotateZ(360deg);

    }
    to {
        transform: rotateZ(0deg);

    }

}

@keyframes anim-y {
    from {

        transform: rotatey(0);

    }
    to {

        transform: rotatey(360deg);

    }
}

.text {
    color: #ffffff;
    margin: 10%;
    text-transform: uppercase;
    font-size: 24px;

}